# Xcode / Swift Playgrounds
.DS_Store
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/xcode/

# iCloud / macOS
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes
