.DS_Store
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode
DerivedData/
*.xcworkspace
*.xcodeproj

# SwiftPM
.build/
.swiftpm/xcode/package.xcworkspace/
.swiftpm/configuration/

# Playgrounds metadata (keep if needed, but usually safe to ignore)
timeline.xctimeline
playground.xcworkspace.swiftpm/xcode/xcuserdata/
